@charset "utf-8";



// Our variables
$base-font-family: Arial;//, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$highlight-nav-text: rgba(0,0,0,1);
$highlight-nav-td: rgba(250,250,250,0.5);
$spacing-unit:     15px;
$text-color: #000;
$header-height: 175px;
$nav-height: 41px;
$site-border-size: 50px;
// Width of the content area
$content-width:    800px;
$on-palm:          900px;
$on-laptop:        900px;
$font1: 'Kumar One';
$font2: 'Orbitron';
$font3: 'Russo One';
$font4: 'Alfa Slab One';
$font5: 'Ultra';
$font6: 'Julius Sans One';
$font7: 'Syncopate';
$font8: 'Press Start 2P';
$font9: 'Monoton';
$color1: #262216; //dark brown
$color2: #49412c; //middle brown
$color3: #97743a; //goldish
$color4: #b0a18e; //silverish
$color5: #fff; //white
$color6: #aa3311; //brick red
 


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
